[Unit]
Description=Fleet
Documentation=https://github.com/fleetdm/fleet/blob/main/docs/README.md
After=network.target nss-lookup.target
AssertFileIsExecutable=/usr/local/bin/fleet

[Service]
WorkingDirectory=/run/fleet
User=fleet
Group=fleet
EnvironmentFile=/etc/default/fleet
EnvironmentFile=-/etc/sysconfig/fleet
ExecStart=/usr/local/bin/fleet serve
Restart=always

[Install]
WantedBy=multi-user.target
