[Unit]
Description=Fleet
Documentation=https://fleetdm.com/docs/
After=network.target nss-lookup.target fleet-prepare-db.service

[Service]
Type=oneshot
WorkingDirectory=/run/fleet
User=fleet
Group=fleet
ExecStart=/usr/local/bin/fleet prepare db --config /etc/fleet/fleet.yaml
RemainAfterExit=false
