[Unit]
Description=template service
Documentation=https://some.url/docs
After=network.target nss-lookup.target
#AssertFileNotEmpty=/run/secrets/template-password

[Service]
User=template
Group=template
WorkingDirectory=/run/template
ExecStart=/usr/local/bin/template
Restart=on-failure

[Install]
WantedBy=multi-user.target
