[Unit]
Description=Fake Service
Documentation=https://github.com/nicholasjackson/fake-service
After=network.target nss-lookup.target
AssertFileIsExecutable=/usr/local/bin/fake-service

[Service]
WorkingDirectory=/run/fake-service
User=fake-service
Group=fake-service
EnvironmentFile=/etc/default/fake-service
EnvironmentFile=-/etc/fake-service/env
ExecStart=/usr/local/bin/fake-service
Restart=always

[Install]
WantedBy=multi-user.target
