[Unit]
Description=Kuma Control Plane
Documentation=https://kuma.io/docs/
After=network.target nss-lookup.target
AssertFileNotEmpty=/etc/kuma/config.yaml

[Service]
WorkingDirectory=/run/kuma
User=kuma
Group=kuma
ExecStart=/usr/local/bin/kuma-cp run --log-output-path=/var/log/kuma/kuma-cp.log --config-file=/etc/kuma/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
