[Unit]
Description=Hazelcast Management Center
Documentation=https://docs.hazelcast.com/management-center/
After=network.target nss-lookup.target systemd-sysusers.service systemd-tmpfiles-setup.service
Requires=systemd-sysusers.service systemd-tmpfiles-setup.service

[Service]
WorkingDirectory=/run/hazelcast
#Type=
User=hazelcast
Group=hazelcast
ExecStart=/usr/bin/java -Dhazelcast.mc.http.port=8083 -Dhazelcast.mc.healthCheck.enable=true -jar /usr/lib/hazelcast/management-center/hazelcast-management-center.jar
Restart=on-abort
LimitNOFILE=65536
TimeoutSec=600

[Install]
WantedBy=multi-user.target
