[Unit]
Description=Kuma Data Plane
Documentation=https://kuma.io/docs/
After=network.target nss-lookup.target
AssertFileNotEmpty=/etc/kuma/dataplane.yaml
AssertFileNotEmpty=/run/secrets/kuma-config
AssertFileNotEmpty=/run/secrets/kuma-token

[Service]
WorkingDirectory=/run/kuma
EnvironmentFile=/run/secrets/kuma-config
User=kuma
Group=kuma
ExecStart=/usr/local/bin/kuma-dp run --log-output-path=/var/log/kuma/kuma-dp.log --cp-address=${KUMA_CP_ADDRESS} --dns-enabled=false --dataplane-file=/etc/kuma/dataplane.yaml --dataplane-token-file=/run/secrets/kuma-token --config-dir=/run/kuma/envoy/ --dns-server-config-dir=/run/kuma/coredns/
Restart=always

[Install]
WantedBy=multi-user.target
