[Unit]
Description=NATS Kafka
Documentation=https://github.com/nats-io/nats-kafka/blob/main/docs/config.md
After=network.target nss-lookup.target
AssertFileNotEmpty=/etc/nats-kafka/kafkabridge.conf

[Service]
WorkingDirectory=/run/nats-kafka
User=nats-kafka
Group=nats-kafka
ExecStart=/usr/local/bin/nats-kafka --config=/etc/nats-kafka/kafkabridge.conf
Restart=always

[Install]
WantedBy=multi-user.target
