[Unit]
Description=Keycloak
Documentation=https://www.keycloak.org/docs/
After=network.target nss-lookup.target

[Service]
WorkingDirectory=/run/keycloak
Type=forking
User=keycloak
Group=keycloak
ExecStart=/usr/lib/keycloak/bin/standalone.sh
Restart=on-abort
LimitNOFILE=65536
TimeoutSec=600

[Install]
WantedBy=multi-user.target
