---
type: Mesh
name: {{ mesh_env }}
mtls:
  enabledBackend: {{ mesh_env }}-ca
  backends:
    - name: {{ mesh_env }}-ca
      type: builtin
  enabled: true
logging:
  defaultBackend: {{ mesh_env }}-file
  backends:
    - name: {{ mesh_env }}-file
      type: file
      conf:
        path: /var/log/kuma/{{ mesh_env }}-traffic-all.log
