[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=https://zookeeper.apache.org/
After=network.target nss-lookup.target systemd-sysusers.service systemd-tmpfiles-setup.service
Requires=systemd-sysusers.service systemd-tmpfiles-setup.service

[Service]
WorkingDirectory=/run/zookeeper
User=zookeeper
Group=zookeeper
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh /opt/kafka/config/zookeeper.properties
ExecStop=/opt/kafka/bin/zookeeper-server-stop.sh
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
