[Unit]
Description=GitLab Runner - Podman
ConditionFileIsExecutable=/usr/local/bin/gitlab-runner
After=network.target nss-lookup.target systemd-sysusers.service systemd-tmpfiles-setup.service
Requires=systemd-sysusers.service systemd-tmpfiles-setup.service
#ConditionPathExists=/run/docker.sock

[Service]
EnvironmentFile=-/etc/sysconfig/gitlab-runner
ExecStart=/usr/local/bin/gitlab-runner --debug run --working-directory=/var/lib/gitlab-runner --config=/etc/gitlab-runner/config.toml --service=gitlab-runner --user=root
StartLimitBurst=10
StartLimitInterval=5
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
