[Unit]
Description=CouchDB password generator
ConditionFileNotEmpty=!/run/secrets/couchdb-password

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "cat /proc/sys/kernel/random/uuid > /run/secrets/couchdb-password"
RemainAfterExit=false
