[Unit]
Description=Keycloak
Documentation=https://www.keycloak.org/docs/
After=network.target nss-lookup.target

[Service]
User=keycloak
Group=keycloak
ExecStart=/usr/bin/bash /usr/lib/keycloak/bin/kc.sh
Restart=on-abort
LimitNOFILE=65536
TimeoutSec=600

[Install]
WantedBy=multi-user.target
