[Unit]
Description=Keycloak password generator
ConditionFileNotEmpty=!/run/secrets/keycloak-password

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "printf \"KEYCLOAK_ADMIN=root\nKEYCLOAK_ADMIN_PASSWORD=$(cat /proc/sys/kernel/random/uuid)\n\" > /run/secrets/keycloak-password"
RemainAfterExit=false
