[Unit]
Description=GitLab Runner Registration
ConditionFileIsExecutable=/usr/local/bin/gitlab-runner
ConditionPathExists=!/etc/gitlab-runner/.lock
ConditionFileNotEmpty=/run/secrets/gitlab-token
ConditionFileNotEmpty=/run/secrets/gitlab-runner-tags

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/gitlab-runner
EnvironmentFile=/run/secrets/gitlab-token
EnvironmentFile=/run/secrets/gitlab-runner-tags
ExecStart=/usr/local/bin/gitlab-runner register\
 --non-interactive\
 --config=/etc/gitlab-runner/config.toml\
 --url=${GITLAB_URL}\
 --registration-token=${GITLAB_TOKEN}\
 --run-untagged=false\
 --builds-dir=/var/lib/gitlab-runner/builds\
 --cache-dir=/var/lib/gitlab-runner/cache\
 --custom_build_dir-enabled=true\
 --executor=docker\
 --docker-host="unix:///run/podman/podman.sock"\
 --docker-tlsverify=${GITLAB_TLSVERIFY}\
 --docker-image=${GITLAB_IMAGE}\
 --docker-helper-image=${GITLAB_HELPER_IMAGE}\
 --tag-list=${GITLAB_RUNNER_TAGS}
ExecStartPost=/usr/bin/touch /etc/gitlab-runner/.lock
RemainAfterExit=no
