[Unit]
Description=Pushgateway
Documentation=https://prometheus.io/docs/
After=network.target nss-lookup.target

[Service]
WorkingDirectory=/run/pushgateway
User=pushgateway
Group=pushgateway
ExecStart=/usr/local/bin/pushgateway --web.listen-address="0.0.0.0:9091"
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
