[Unit]
Description=Mimir
Documentation=https://grafana.com/docs/mimir/latest/
After=network.target nss-lookup.target
AssertFileIsExecutable=/usr/local/bin/mimir
AssertFileNotEmpty=/etc/mimir/config.yaml

[Service]
ExecStart=/usr/local/bin/mimir --config.file=/etc/mimir/config.yaml
WorkingDirectory=/run/mimir
User=mimir
Group=mimir
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
