[infra]
name=Infra Packages for Enterprise Linux 10 - x86_64
baseurl=https://repo.skarbek.name/repository/h-rpm-infra/10/
username = ${REPO_USERNAME}
password = ${REPO_PASSWORD}
enabled=1
gpgcheck=0
metadata_expire=24h
enabled_metadata = 1
