[Unit]
Description=Nexus password generator
ConditionFileNotEmpty=!/run/secrets/nexus-password

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "printf \"$(cat /proc/sys/kernel/random/uuid)\n\" > /run/secrets/postgres-password"
RemainAfterExit=false
