[Unit]
Description=PostgreSQL 14 database init
ConditionPathExists=!/var/lib/pgsql/14/.lock
ConditionFileNotEmpty=/run/secrets/postgres-password
After=syslog.target network.target

[Service]
Type=oneshot
Environment="PGSETUP_INITDB_OPTIONS=--pwfile=/run/secrets/postgres-password"
ExecStart=/usr/pgsql-14/bin/postgresql-14-setup initdb
ExecStartPost=/usr/bin/touch /var/lib/pgsql/14/.lock
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
