[Unit]
Description=Syncthing Relay Server
Documentation=https://docs.syncthing.net/users/strelaysrv.html
After=network.target nss-lookup.target
AssertFileNotEmpty=/env/stdiscosrv/ENV

[Service]
User=strelaysrv
Group=strelaysrv
EnvironmentFile=/etc/strelaysrv/ENV
WorkingDirectory=/run/strelaysrv
ExecStart=/usr/local/bin/strelaysrv $OPTS
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=30
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
