[Unit]
Description=Syncthing Discovery Server
Documentation=https://docs.syncthing.net/users/stdiscosrv.html
After=network.target nss-lookup.target
AssertFileNotEmpty=/env/stdiscosrv/ENV

[Service]
User=stdiscosrv
Group=stdiscosrv
EnvironmentFile=/etc/stdiscosrv/ENV
WorkingDirectory=/var/lib/stdiscosrv
ExecStart=/usr/local/bin/stdiscosrv $OPTS
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=30
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
