[Unit]
Description=ara
Documentation=https://ara.readthedocs.io/
After=network.target nss-lookup.target systemd-sysusers.service systemd-tmpfiles-setup.service ara-migrate.service
Requires=systemd-sysusers.service systemd-tmpfiles-setup.service ara-migrate.service

[Service]
WorkingDirectory=/var/lib/ara
Environment=ARA_BASE_DIR=/var/lib/ara
User=ara
Group=ara
ExecStart=/usr/bin/gunicorn-3 --workers=4 --access-logfile /var/log/ara/access.log --bind 0.0.0.0:8000 ara.server.wsgi
Restart=always

[Install]
WantedBy=multi-user.target
