[Unit]
Description=GitLab config generator
Requires=gitlab-password.service
After=syslog.target network.target gitlab-password.service
ConditionPathExists=!/etc/gitlab/.lock
AssertFileNotEmpty=/run/secrets/gitlab-password
AssertFileNotEmpty=/etc/gitlab/gitlab.rb

[Service]
Type=oneshot
EnvironmentFile=/run/secrets/gitlab-password
ExecStart=/opt/gitlab/bin/gitlab-ctl reconfigure
ExecStartPost=/usr/bin/touch /etc/gitlab/.lock
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
