[Unit]
Description=Gitlab password generator
ConditionFileNotEmpty=!/run/secrets/gitlab-password

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "printf \"GITLAB_ROOT_PASSWORD=$(cat /proc/sys/kernel/random/uuid)\n\" > /run/secrets/gitlab-password"
RemainAfterExit=false
