[Unit]
Description=pgAdmin4 password generator
ConditionFileNotEmpty=!/run/secrets/pgadmin4-password

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "printf \"PGADMIN_SETUP_EMAIL=root@localhost.local\nPGADMIN_SETUP_PASSWORD=$(cat /proc/sys/kernel/random/uuid)\n\" > /run/secrets/pgadmin4-password"
RemainAfterExit=false
