[Unit]
Description=pgAdmin4 config generator
Requires=pgadmin4-password.service
After=pgadmin4-password.service
AssertFileNotEmpty=/run/secrets/pgadmin4-password
ConditionFileNotEmpty=!/var/lib/pgadmin/pgadmin4.db

[Service]
Type=oneshot
User=pgadmin
Group=pgadmin
EnvironmentFile=/run/secrets/pgadmin4-password
ExecStart=/usr/pgadmin4/venv/bin/python3 /usr/pgadmin4/web/bootstrap_db.py
RemainAfterExit=false
