[Unit]
Description=pgAdmin4 server list import
Requires=pgadmin4-config.service
After=pgadmin4-config.service
AssertFileNotEmpty=/run/secrets/pgadmin4-password
ConditionFileNotEmpty=/etc/pgadmin/servers.json
ConditionPathExists=!/etc/pgadmin/.lock

[Service]
Type=oneshot
User=pgadmin
Group=pgadmin
EnvironmentFile=/run/secrets/pgadmin4-password
ExecStart=/usr/pgadmin4/venv/bin/python3 /usr/pgadmin4/web/setup.py --load-servers /etc/pgadmin/servers.json --user $PGADMIN_SETUP_EMAIL
ExecStartPost=/usr/bin/touch /etc/pgadmin/.lock
RemainAfterExit=false
