[Unit]
Description=MySQL database init
ConditionPathExists=!/var/lib/mysql/.lock
AssertFileNotEmpty=/run/secrets/mysql-password
After=mysql-password.service
Requires=mysql-password.service

[Service]
Type=oneshot
User=mysql
Group=mysql
EnvironmentFile=/run/secrets/mysql-password
ExecStart=/usr/bin/mysql -u root --skip-password -e "ALTER USER 'root'@'localhost' IDENTIFIED BY '${MYSQL_ROOT_PASSWORD}';"
ExecStartPost=/usr/bin/touch /var/lib/mysql/.lock
RemainAfterExit=no
