[Unit]
Description=MySQL password generator
ConditionFileNotEmpty=!/run/secrets/mysql-password

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "printf \"MYSQL_ROOT_PASSWORD=$(cat /proc/sys/kernel/random/uuid)\n\" > /run/secrets/mysql-password"
RemainAfterExit=false
