[Unit]
Description=PowerDNS Authoritative Server
Documentation=man:pdns_server(1) man:pdns_control(1)
Documentation=https://doc.powerdns.com
Wants=network-online.target
Requires=pdns-db.service
After=network-online.target pdns-db.service

[Service]
ExecStart=/usr/sbin/pdns_server --config-dir=%E/pdns --socket-dir=%t/pdns --guardian=no --daemon=no --disable-syslog --log-timestamp=no --write-pid=no
SyslogIdentifier=pdns_server
Restart=on-failure
RestartSec=1
StartLimitInterval=0
RuntimeDirectory=pdns

[Install]
WantedBy=multi-user.target
