[Unit]
Description=PowerDNS database init
ConditionFileNotEmpty=!/var/lib/pdns/powerdns.sqlite3

[Service]
Type=oneshot
ExecStart=/usr/bin/sqlite3 /var/lib/pdns/powerdns.sqlite3 ".read /usr/share/doc/pdns-backend-sqlite/schema.sqlite3.sql"
User=pdns
Group=pdns
RemainAfterExit=false
