---
type: Dataplane
mesh: {{ env }}
name: {{ env }}-{{ service }}-{{ future_pod }}
networking:
  address: {{ container_info.container.NetworkSettings.IPAddress }}
{% if mesh_gateway is defined and mesh_gateway is not none %}
  gateway:
    tags:
      kuma.io/service: {{ mesh_gateway }}
{% endif %}
{% if mesh_inbound is defined and mesh_inbound is not none %}
  inbound:
{% for item in mesh_inbound %}
    - port: 1100{{ loop.index }}
      servicePort: {{ item.port }}
      serviceAddress: {{ item.address }}
      tags:
        kuma.io/service: {{ item.service }}
        kuma.io/protocol: {{ item.protocol }}
{% endfor %}{% endif %}
{% if mesh_outbound is defined and mesh_outbound is not none %}
  outbound:
{% for item in mesh_outbound %}
    - port: {{ item.port }}
      tags:
        kuma.io/service: {{ item.service }}
{% endfor %}{% endif %}