proxy_http_version          1.1;
proxy_pass_request_headers  on;
proxy_set_header            Host $host;
proxy_set_header            X-Real-IP $remote_addr;
proxy_set_header            X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header            X-Forwarded-Host $http_host;
proxy_set_header            X-Forwarded-Server $host;

server {
    listen 80;
    server_name kuma.lab.skarbek.name;
    
    access_log /var/log/nginx/kuma.lab.skarbek.name-access.log;

    location / {
        proxy_pass      http://127.0.0.1:12001;
    }
}

server {
    listen 80;
    server_name minio.lab.skarbek.name;
    
    access_log /var/log/nginx/minio.lab.skarbek.name-access.log;

    location / {
        proxy_pass      http://127.0.0.1:12002;
    }
}
