[Unit]
Description=Nexus password setup
ConditionPathExists=!/var/lib/sonatype-work/nexus3/.lock
ConditionFileNotEmpty=/run/secrets/nexus-password
After=syslog.target network.target

[Service]
Type=oneshot
EnvironmentFile=/run/secrets/nexus-password
ExecStart=/usr/bin/bash /usr/local/bin/nexus-password.sh
ExecStartPost=/usr/bin/touch /var/lib/sonatype-work/nexus3/.lock
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
