[Unit]
Description=Nexus password generator
ConditionFileNotEmpty=!/run/secrets/nexus-password

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "printf \"NEXUS_PASSWORD=$(cat /proc/sys/kernel/random/uuid)\n\" > /run/secrets/nexus-password"
RemainAfterExit=false
