[Unit]
Description=Nexus Repository
Documentation=https://help.sonatype.com/repomanager3/
After=network.target nss-lookup.target systemd-sysusers.service systemd-tmpfiles-setup.service
Requires=systemd-sysusers.service systemd-tmpfiles-setup.service

[Service]
WorkingDirectory=/run/nexus
Type=forking
User=nexus
Group=nexus
ExecStart=/usr/bin/bash /usr/lib/sonatype/nexus/bin/nexus start
ExecStop=/usr/bin/bash /usr/lib/sonatype/nexus/bin/nexus stop
Restart=on-abort
LimitNOFILE=65536
TimeoutSec=600

[Install]
WantedBy=multi-user.target
