[Unit]
Description=step-ca service
Documentation=https://smallstep.com/docs/step-ca
Documentation=https://smallstep.com/docs/step-ca/certificate-authority-server-production
After=network.target nss-lookup.target
AssertFileNotEmpty=/var/lib/step-ca/config/ca.json
AssertFileNotEmpty=/run/secrets/step-ca-password

[Service]
User=step
Group=step
Environment=STEPPATH=/var/lib/step-ca
WorkingDirectory=/var/lib/step-ca
ExecStart=/usr/local/bin/step-ca /var/lib/step-ca/config/ca.json --password-file=/run/secrets/step-ca-password
ExecReload=/bin/kill --signal HUP $MAINPID
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=30
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
