[Unit]
Description=NATS Server
Documentation=https://docs.nats.io/
After=network.target nss-lookup.target

[Service]
WorkingDirectory=/run/nats
User=nats
Group=nats
ExecStart=/usr/local/bin/nats-server --jetstream --store_dir=/var/lib/nats --config=/etc/nats/nats-server.conf
Restart=always

[Install]
WantedBy=multi-user.target
