[Unit]
Description=Rundeck
Documentation=https://docs.rundeck.com/docs/
#Requires=
After=network.target nss-lookup.target
#AssertFileNotEmpty=

[Service]
User=rundeck
Group=rundeck
ExecStart=/usr/bin/java\
 -Drundeck.jaaslogin=true\
 -Djava.security.auth.login.config=/etc/rundeck/jaas-loginmodule.conf\
 -Dloginmodule.name=RDpropertyfilelogin\
 -Drdeck.config=/etc/rundeck\
 -Drundeck.server.configDir=/etc/rundeck\
 -Dserver.datastore.path=/var/lib/rundeck/data/rundeck\
 -Drundeck.server.serverDir=/var/lib/rundeck\
 -Drdeck.projects=/var/lib/rundeck/projects\
 -Dlog4j.configurationFile=/etc/rundeck/log4j2.properties\
 -Dlogging.config=file:/etc/rundeck/log4j2.properties\
 -Drdeck.runlogs=/var/log/rundeck\
 -Drundeck.server.logDir=/var/log/rundeck\
 -Drundeck.config.location=/etc/rundeck/rundeck-config.properties\
 -Djava.io.tmpdir=/tmp/rundeck\
 -Drundeck.server.workDir=/tmp/rundeck\
 -Dserver.http.port=4440\
 -Drdeck.base=/var/lib/rundeck\
 -Xmx1024m\
 -Xms256m\
 -XX:MaxMetaspaceSize=256m\
 -server\
 -jar /var/lib/rundeck/bootstrap/rundeck.war\
 --skipinstall
Restart=on-failure

[Install]
WantedBy=multi-user.target
