[Unit]
Description=Loki
Documentation=https://grafana.com/docs/loki/
After=network.target nss-lookup.target

[Service]
WorkingDirectory=/run/loki
User=loki
Group=loki
ExecStart=/usr/local/bin/loki -config.file=/etc/loki/loki.yaml
Restart=always

[Install]
WantedBy=multi-user.target
