[Unit]
Description=Zigbee2MQTT
Documentation=https://www.zigbee2mqtt.io/guide/configuration/
After=network.target nss-lookup.target
ConditionFileNotEmpty=/var/lib/zigbee2mqtt/configuration.yaml

[Service]
Type=simple
User=zigbee2mqtt
Group=zigbee2mqtt
Environment=ZIGBEE2MQTT_DATA=/var/lib/zigbee2mqtt
WorkingDirectory=/usr/lib/zigbee2mqtt
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
