[Unit]
Description=Alertmanager
Documentation=https://prometheus.io/docs/alertmanager/
After=network.target nss-lookup.target systemd-sysusers.service systemd-tmpfiles-setup.service
Requires=systemd-sysusers.service systemd-tmpfiles-setup.service
AssertFileNotEmpty=/etc/alertmanager/alertmanager.yaml

[Service]
WorkingDirectory=/run/alertmanager
User=alertmanager
Group=alertmanager
ExecStart=/usr/local/bin/alertmanager\
 --storage.path=/var/lib/alertmanager\
 --web.listen-address="0.0.0.0:9093"\
 --config.file=/etc/alertmanager/alertmanager.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
