[Unit]
Description=Hazelcast IMDG
Documentation=https://docs.hazelcast.com/imdg/
After=network.target nss-lookup.target

[Service]
WorkingDirectory=/run/hazelcast
#Type=
User=hazelcast
Group=hazelcast
Environment="HAZELCAST_HOME=/usr/lib/hazelcast"
Environment="CLASSPATH=$HAZELCAST_HOME/lib/hazelcast-all-4.2.2.jar:$HAZELCAST_HOME/bin/user-lib:$HAZELCAST_HOME/bin/user-lib/*"
ExecStart=/usr/bin/java -Xms1G -Xmx1G --add-modules java.se --add-exports java.base/jdk.internal.ref=ALL-UNNAMED --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.nio=ALL-UNNAMED --add-opens java.base/sun.nio.ch=ALL-UNNAMED --add-opens java.management/sun.management=ALL-UNNAMED --add-opens jdk.management/com.sun.management.internal=ALL-UNNAMED -server com.hazelcast.core.server.HazelcastMemberStarter
Restart=on-abort
LimitNOFILE=65536
TimeoutSec=600

[Install]
WantedBy=multi-user.target
