[Unit]
Description=RabbitMq password generator
ConditionFileNotEmpty=!/run/secrets/rabbitmq-passowrd

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'printf "RABBITMQ_USER=root\nRABBITMQ_PASS=$(cat /proc/sys/kernel/random/uuid)\n" > /run/secrets/rabbitmq-passowrd'
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
