[Unit]
Description=RabbitMq configuration
After=rabbitmq-server.service
Requires=rabbitmq-server.service
ConditionPathExists=!/run/secrets/rabbitmq-passowrd

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "cat /proc/sys/kernel/random/uuid > /run/secrets/rabbitmq-passowrd"
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
