[Unit]
Description=RabbitMq configuration
After=rabbitmq-server.service rabbitmq-password.service
Requires=rabbitmq-server.service rabbitmq-password.service
ConditionPathExists=!/var/lib/rabbitmq/.lock

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/bin/rabbitmq-config.sh
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
