---
type: Dataplane
mesh: {{ env }}
name: {{ env }}-{{ service_name }}-{{ deployment_id }}
networking:
  address: {{ container_info.containers[0].NetworkSettings.IPAddress }}
{% if mesh_config.mesh_gateway is defined and mesh_config.mesh_gateway is not none %}
  gateway:
    tags:
      kuma.io/service: {{ mesh_config.mesh_gateway }}
{% endif %}
{% if mesh_config.mesh_inbound is defined and mesh_config.mesh_inbound is iterable %}
  inbound:
{% for item in mesh_config.mesh_inbound %}
    - port: 1100{{ loop.index }}
      servicePort: {{ item.port }}
      serviceAddress: {{ item.address }}
      tags:
        kuma.io/service: {{ item.service }}
        kuma.io/protocol: {{ item.protocol }}
{% endfor %}{% endif %}
{% if mesh_config.mesh_outbound is defined and mesh_config.mesh_outbound is iterable %}
  outbound:
{% for item in mesh_config.mesh_outbound %}
    - port: {{ item.port }}
      tags:
        kuma.io/service: {{ item.service }}
{% endfor %}{% endif %}
