[Unit]
Description=Gitea
Documentation=https://docs.gitea.io/
After=network.target nss-lookup.target systemd-sysusers.service systemd-tmpfiles-setup.service
Requires=systemd-sysusers.service systemd-tmpfiles-setup.service

[Service]
WorkingDirectory=/var/lib/gitea
User=git
Group=git
ExecStart=/usr/local/bin/gitea web --config /etc/gitea/app.ini
Restart=always
RestartSec=2s
Environment=USER=git HOME=/var/lib/gitea GITEA_WORK_DIR=/var/lib/gitea

[Install]
WantedBy=multi-user.target
