[Unit]
Description=MinIO Console
Documentation=https://min.io/docs/minio/linux/administration/minio-console.html
Requires=console-config.service
After=network.target nss-lookup.target console-config.service
AssertFileIsExecutable=/usr/local/bin/console
AssertFileNotEmpty=/etc/console/console.env

[Service]
ExecStart=/usr/local/bin/console server --port 9000
EnvironmentFile=/etc/sysconfig/console
EnvironmentFile=/etc/console/console.env
WorkingDirectory=/run/console
User=console
Group=console
Restart=always
LimitNOFILE=65536
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
