[Unit]
Description=MinIO
Documentation=https://docs.min.io/minio/baremetal/console/minio-console.html
Requires=minio-console-config.service
After=network.target nss-lookup.target minio-console-config.service
AssertFileIsExecutable=/usr/local/bin/minio-console
AssertFileNotEmpty=/etc/minio-console/minio-console.env

[Service]
ExecStart=/usr/local/bin/minio-console server --port 9000
EnvironmentFile=/etc/sysconfig/minio-console
EnvironmentFile=/etc/minio-console/minio-console.env
WorkingDirectory=/run/minio-console
User=minio-console
Group=minio-console
Restart=always
LimitNOFILE=65536
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
