[Unit]
Description=YB-Master
Documentation=https://docs.yugabyte.com/latest/reference/configuration/yb-master/
After=network.target nss-lookup.target
ConditionFileNotEmpty=/etc/yugabyte/yb-master.flags

[Service]
WorkingDirectory=/run/yugabyte
User=yugabyte
Group=yugabyte
ExecStart=/usr/lib/yugabyte/bin/yb-master --flagfile=/etc/yugabyte/yb-master.flags
Restart=on-abort

[Install]
WantedBy=multi-user.target
