[Unit]
Description= YB-TServer
Documentation=https://docs.yugabyte.com/latest/reference/configuration/yb-tserver/
Requires=yb-master.service
After=network.target nss-lookup.target yb-master.service
ConditionFileNotEmpty=/etc/yugabyte/yb-tserver.flags

[Service]
WorkingDirectory=/run/yugabyte
User=yugabyte
Group=yugabyte
ExecStart=/usr/lib/yugabyte/bin/yb-tserver --flagfile=/etc/yugabyte/yb-tserver.flags
Restart=on-abort

[Install]
WantedBy=multi-user.target
