[Unit]
Description= YB-TServer
Documentation=https://docs.yugabyte.com/latest/reference/configuration/yb-tserver/
After=network.target nss-lookup.target systemd-sysusers.service systemd-tmpfiles-setup.service
Requires=systemd-sysusers.service systemd-tmpfiles-setup.service yb-master.service
ConditionFileNotEmpty=/etc/yugabyte/yb-tserver.flags yb-master.service

[Service]
WorkingDirectory=/run/yugabyte
User=yugabyte
Group=yugabyte
ExecStart=/usr/lib/yugabyte/bin/yb-tserver --flagfile=/etc/yugabyte/yb-tserver.flags
Restart=on-abort

[Install]
WantedBy=multi-user.target
