[Unit]
Description=MinIO password generator
ConditionFileNotEmpty=!/run/secrets/minio-password

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "printf \"MINIO_ROOT_PASSWORD=$(cat /proc/sys/kernel/random/uuid)\n\" > /run/secrets/minio-password"
RemainAfterExit=false
